{
  "sakana-ai-console": {
    "type": "api_key",
    "key": "!security find-generic-password -w -s fugu-api-key"
  },
  "opencode-go": {
    "type": "api_key",
    "key": "!security find-generic-password -w -s open-code-go-api-key"
  }
}
